In [3]:
import pandas as pd
from sqlalchemy import create_engine



csv_file = "./db/data.csv"
life_satifaction = pd.read_csv(csv_file)
life_satifaction.head()



database_path = "life_expectancy_satisfaction"
engine = create_engine(f"sqlite:///{database_path}")



engine.table_names()


life_satifaction.to_sql(name='life_expectancy_satisfaction', con=engine, if_exists='append', index=False)




pd.read_sql_query('select * from life_expectancy_satisfaction', con=engine)

,Entity,Code,Year,Life_expectancy,Life_satisfaction,Total population (Gapminder)
0,Afghanistan,AFG,1800,NaN,NaN,3280000.0
1,Afghanistan,AFG,1820,NaN,NaN,3280000.0
2,Afghanistan,AFG,1870,NaN,NaN,4207000.0
3,Afghanistan,AFG,1913,NaN,NaN,5730000.0
4,Afghanistan,AFG,1950,27.537,NaN,8151455.0
5,Afghanistan,AFG,1951,27.810,NaN,8276820.0
6,Afghanistan,AFG,1952,28.350,NaN,8407148.0
7,Afghanistan,AFG,1953,28.880,NaN,8542906.0
8,Afghanistan,AFG,1954,29.399,NaN,8684494.0
9,Afghanistan,AFG,1955,29.907,NaN,8832253.0
10,Afghanistan,AFG,1956,30.404,NaN,8986449.0
11,Afghanistan,AFG,1957,30.891,NaN,9147286.0
12,Afghanistan,AFG,1958,31.367,NaN,9314915.0
13,Afghanistan,AFG,1959,31.834,NaN,9489453.0
14,Afghanistan,AFG,1960,32.292,NaN,9671046.0
15,Afghanistan,AFG,1961,32.742,NaN,9859928.0
16,Afghanistan,AFG,1962,33.185,NaN,10056480.0
17,Afghanistan,AFG,1963,33.624,NaN,10261254.0
18,Afghanistan,AFG,1964,34.060,NaN,10474903.0
19,Afghanistan,AFG,1965,34.495,NaN,10697983.0
20,Afghanistan,AFG,1966,34.928,NaN,10927724.0
21,Afghanistan,AFG,1967,35.361,NaN,11163656.0
22,Afghanistan,AFG,1968,35.796,NaN,11411022.0
23,Afghanistan,AFG,1969,36.234,NaN,11676990.0
24,Afghanistan,AFG,1970,36.678,NaN,11964906.0
25,Afghanistan,AFG,1971,37.128,NaN,12273101.0
26,Afghanistan,AFG,1972,37.587,NaN,12593688.0
27,Afghanistan,AFG,1973,38.056,NaN,12915499.0
28,Afghanistan,AFG,1974,38.540,NaN,13223928.0
29,Afghanistan,AFG,1975,39.039,NaN,13505544.0
...,...,...,...,...,...,...
217221,Zimbabwe,ZWE,1989,58.971,NaN,10169188.0
217222,Zimbabwe,ZWE,1990,57.944,NaN,10469202.0
217223,Zimbabwe,ZWE,1991,56.720,NaN,10748215.0
217224,Zimbabwe,ZWE,1992,55.337,NaN,11005690.0
217225,Zimbabwe,ZWE,1993,53.854,NaN,11244552.0
217226,Zimbabwe,ZWE,1994,52.329,NaN,11469872.0
217227,Zimbabwe,ZWE,1995,50.811,NaN,11684693.0
217228,Zimbabwe,ZWE,1996,49.340,NaN,11891290.0
217229,Zimbabwe,ZWE,1997,47.955,NaN,12086519.0
217230,Zimbabwe,ZWE,1998,46.705,NaN,12261742.0
217231,Zimbabwe,ZWE,1999,45.647,NaN,12405236.0
217232,Zimbabwe,ZWE,2000,44.841,NaN,12509477.0
217233,Zimbabwe,ZWE,2001,44.326,NaN,12575015.0
217234,Zimbabwe,ZWE,2002,44.109,NaN,12607791.0
217235,Zimbabwe,ZWE,2003,44.188,NaN,12612956.0
217236,Zimbabwe,ZWE,2004,44.571,NaN,12597877.0
217237,Zimbabwe,ZWE,2005,45.282,NaN,12570686.0
217238,Zimbabwe,ZWE,2006,46.344,3.826268,12529655.0
217239,Zimbabwe,ZWE,2007,47.719,3.280247,12481245.0
217240,Zimbabwe,ZWE,2008,49.337,3.174264,12451543.0
217241,Zimbabwe,ZWE,2009,51.122,4.055914,12473992.0
217242,Zimbabwe,ZWE,2010,52.975,4.681570,12571454.0
217243,Zimbabwe,ZWE,2011,54.800,4.845642,12754378.0
217244,Zimbabwe,ZWE,2012,56.516,4.955101,13013678.0
217245,Zimbabwe,ZWE,2013,58.053,4.690188,13327925.0
217246,Zimbabwe,ZWE,2014,59.360,4.184451,NaN
217247,Zimbabwe,ZWE,2015,60.398,3.703191,NaN
217248,Zimbabwe,ZWE,2016,NaN,3.735400,NaN
217249,Zimbabwe,ZWE,2017,NaN,3.638300,NaN
217250,Zimbabwe,ZWE,2018,NaN,3.616480,NaN